<!doctype html>
<html lang="en">
<head>
<style>
body{
	background-color: white; 
	font-family: sans-serif,Arial;

}
table, th, td {
    border: 1px solid #BCC2CA;
    border-collapse: collapse;
    font-family: sans-serif,Arial;
}
th, td {
    padding: 5px;
    font-family: sans-serif,Arial;
    text-align:center;
}

hr {
	background-color: rgba(255,255,255,.3);
	border: 0;
	height: 1px;
	margin-bottom: 20px;
}
.container{
	width:1200px;
	margin:0 auto;
	background-color: white;
	/*color: rgb(116, 116, 116);*/
	float: left;
	font-weight: 100;
	margin-left: -150px;
	margin-bottom: 20px;	
}
.tbl{
	margin-left: 550px;
}

p{
	margin-top: -10px;
}

h3,h4{
	color: #rgb(66, 34, 34);
	font-family: sans-serif,Arial;
	font-weight: 100;

}

.info h4{
	margin:0;
}

.info1 h4{
	margin:0;
}

.info{
	margin-bottom: 10px;
	width:500px;
	float:left;
	margin-left: 500px;

}

.info1{
	margin-bottom: 10px;
	width:200px;
	float: right;
	margin-left:500px;
	
}
.tbl{
	margin-right: 100px;
}

.subh{
	text-align: center;
}

.ulcl{
	text-decoration: none;
	float: left;
	list-style-type: none;
	margin-left: 150px;
}

.ulcl1{
	text-decoration: none;
	float: right;
	list-style-type: none;
	margin-right: 150px;
	top:0px;
	font-family: sans-serif,Arial;
	font-weight: 100;
}
.gols{
	background-color: #CBCDEC;
	border: 2px solid;
    border-radius: 5px;
    padding-right: 3px;
	padding-left: 2px;
	border-color:#CBCDEC;
}
.golb{
	background-color: #CBCDEC;
	border: 2px solid;
    border-radius: 5px;
    padding-right: 3px;
	padding-left: 2px;
	border-color:#CBCDEC;
}
</style>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <h3>Test Report</h3>
  <hr>
  <!-- <meta name="description" content="{{ description }}" /> -->
</head>

<body>
<h4 class ="subh">Eagle Eye</h4>
<br>
<div class="info">
<h4>Run ID:{{id}}</h4>
<h4>Run USER:{{ru}}</h4>
<h4>START TIME:{{st}}</h4>
<h4>END TIME:{{et}}</h4>
</div>

<!-- <div class="info1">
<h4>Total Runs:{{trs}}</h4>
<h4>Total Pass:{{tps}}</h4>
<h4>Total Fail:{{tfs}}</h4>
<h4>Aborted:{{abs}}</h4>
</div> -->

<div class="container">


<div class="shortR">
  <!-- <p>Run Report</p> -->

  <table class="tbl">
  <tr>
    <th>Test Name</th>
    <th>Pass Percent</th>		
    <th>Status</th>
  </tr>
  {% for row in slist %}
  <tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
  </tr>  
  {% endfor %}

  </table>
  <br>
  <br>
  <br>
  <footer class="tbl">
  <p>Report Generated by: Murgi Convertor</p>
  <p>For any issue/modification contact: <a href="mailto:avinash8526@gmail.com">
  avinash8526@gmail.com</a>.</p>
	</footer>
</div>
</div>
<ul class="ulcl1">
	<li>Total Runs: {{trs}}</li>
	<li>Total Pass: {{tps}}</li>
	<li>Total Fail: {{tfs}}</li>
	<li>Aborted: {{abs}}</li>
</ul>

</body>
<script>
	if (document.getElementsByClassName('gols')[0].innerHTML == 'Pass')
	{
		document.getElementById('golds').style.backgroundColor='rgb(' + 149 + ',' + 231 + ',' + 169 + ')';
		
		document.getElementById('golds').style.borderColor='rgb(' + 149 + ',' + 231 + ',' + 169 + ')';
	}
	else if(document.getElementsByClassName('gols')[0].innerHTML == 'Fail')
	{
		document.getElementById('golds').style.backgroundColor='rgb(' + 236 + ',' + 209 + ',' + 209 + ')';

		document.getElementById('golds').style.borderColor='rgb(' + 236 + ',' + 209 + ',' + 209 + ')';

	}
	else
	{
		a=1;
	}
	if (document.getElementsByClassName('golb')[0].innerHTML == 'Pass')
	{
		document.getElementById('goldb').style.backgroundColor='rgb(' + 149 + ',' + 231 + ',' + 169 + ')';
		document.getElementById('goldb').style.borderColor='rgb(' + 149 + ',' + 231 + ',' + 169 + ')';
	}
	else if(document.getElementsByClassName('golb')[0].innerHTML == 'Fail')
	{
		document.getElementById('goldb').style.backgroundColor='rgb(' + 236 + ',' + 209 + ',' + 209 + ')';
		document.getElementById('goldb').style.borderColor='rgb(' + 236 + ',' + 209 + ',' + 209 + ')';

	}
	else
	{
		a=1;
	}
</script>

</html>